@page
@model LostNFound.Pages.NotFoundModel
@{
	ViewData["Title"] = "NotFound";
}

<div class="text-center">
	<h1>Error 404</h1>
	<h2 class="text-danger">Die Seite konnte leider nicht gefunden werden.</h2>

	<a class="btn btn-primary" asp-page="Index">Zur Seite zurück</a>
</div>
