@page
@model LostNFound.Pages.NotFoundModel
@{
	ViewData["Title"] = "NotFound";
}

<div class="text-center">
		<h1 class="display-1"><strong>Error 404</strong></h1>
		<h2 class="text-danger">Die Seite konnte leider nicht gefunden werden.</h2>
		<br />
		<a class="btn btn-primary" asp-page="Index">Zur Startseite zurück</a>
</div>
